* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Oswald", sans-serif;
}
.container {
  background: url(./images/ramadan.jpg) no-repeat center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

section {
  margin: 0 15px;
}

span,
.para {
  font-size: 30px;
}

.shadow {
  box-shadow: 0 0 10px 0px;
}

@media only screen and (max-width: 575px) {
  .header {
    font-size: 25px !important;
  }
  body {
    overflow-x: hidden;
  }
}
